@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  html,
  body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }

  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  #root {
    overflow-x: hidden;
    width: 100%;
  }
}

@layer utilities {
  .touch-action-manipulation {
    touch-action: manipulation;
  }
}
